body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}

header{
  background-color: #afafaf;
}

nav{
  background-color: #afafaf;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

h1{
  color: #010059;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}